<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" routerLink='/'>JL Climas</a>

  <div id="navbar-portal-outlet"></div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 bg-dark">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/bookmarks">Favoritos</a>
        </li>
      </ul>
    </div>

    <div class="col-sm-10" style=" background-color:#424242;" id="divRender-Router">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
